<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dngwjy.formapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.answer.StudentAnswerActivity"></activity>
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.student.StudentDashboardActivity" />
        <activity android:name=".ui.teacher.TeacherDashboardActivity" />
        <activity android:name=".ui.auth.sign_up.SignUpActivity" />
        <activity android:name=".ui.auth.login.LoginActivity" />
        <activity android:name=".ui.bank_soal.detail_bank_soal.DetailBankSoalActivity" />
        <activity android:name=".ui.bank_soal.detail_category.DetailCategoryActivity" />
        <activity android:name=".ui.bank_soal.category.CategoryBankSoalActivity" />
        <activity android:name=".ui.exam.CreateExamActivity" />
        <activity android:name=".ui.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>